@import "../../../../../dist/scss/variables.scss";

li {
  list-style: none;
}

div {
  width: 100%;
  height: max-content;
  background: $secondary-background-color;
  margin-top: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);

  &.loading {
    background-image: url("../../../../../assets/img/bg-task.png");
    background-repeat: no-repeat;
    background-position: center 30px;
  }

  ul {
    padding: 20px;
    li {
      display: flex;
      gap: 10px;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
      input {
        &.input-text {
          flex-grow: 1;
          padding: 5px 10px;
          border: none;
          font-size: 1rem;
          color: $primary-text-color;
          background: rgb(255, 254, 254);
          &.checked {
            text-decoration: line-through;
          }
        }
      }
      button {
        background: none;
        border: none;
        cursor: pointer;
      }

      input:focus,
      button {
        outline: none;
      }
    }
  }
}
