@import "../../../../../dist/scss/variables.scss";

li {
  list-style: none;
}

div {
  width: 100%;
  min-height: 400px;
  background: $primary-color;
  margin-top: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);

  &.loading {
    background-image: url("../../../../../assets/img/bg-task.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  ul {
    padding: 20px;
    li {
      display: flex;
      gap: 10px;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;

      input {
        &.input-text {
          flex-grow: 1;
          padding: 5px 10px;
          border: none;
          font-size: 1rem;
          background: $primary-color;
          color: $secondary-color;
          &.checked {
            text-decoration: line-through;
          }
        }
      }
      input::placeholder {
        color: $secondary-color;
      }
      button {
        background: none;
        border: none;
        cursor: pointer;
      }

      input:focus,
      button {
        outline: none;
      }
    }
  }
}

app-todo-input-add-itens,
app-todo-button-delete-all {
  display: flex;
  justify-content: center;
}
